@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --font-sans: "Tektur", system-ui, sans-serif;
  --animate-shrink: shrink 5s linear forwards;
}

@keyframes shrink {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
